/*@media screen {*/
/*    * {*/
/*        margin: 0;*/
/*        padding: 0;*/
/*        box-sizing: border-box;*/
/*    }*/

/*    nav .menu-desktop {*/
/*        display: none;*/
/*    }*/

/*    nav #menu-mobile {*/
/*        display: block;*/
/*    }*/
/*}*/

:root {
    --bgColor: #FFFF;
    --text-color: #21243D;
    --grey-color: #9faab5;
    /*--nav-color: #00A8CC;*/
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
   width: 100%;
    font-family: "Poppins", serif;
}

nav {
    justify-content: flex-end;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #010101;
} 
nav .menu-desktop {
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer
}
nav #menu-mobile {
    display: none;
    font-size: 24px;
}
img {
    border-radius: 50%;
    box-shadow: -10px 8px 10px #EDF7FA;
    /*you*/
}
v
header {
    background-color: #F5E6D0;
    padding-left: 10px;
    height: 450px;
    padding-bottom: 10px;
}

#button-1 {
    color: #E8E8E8;
    border: none;
    padding: 9px;
    border-radius: 2px;
    margin-left: 50px;
    /* margin-bottom: 10px; */
    background-color: #FF6464;
}

.main {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.main img {
    margin-top: 18px;
    margin-left: 30px;
}

#content-1 {
    width: 62%;
}

p {
    font-size: 14px;
}

.nav-1 {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 40px;
}

.main-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #EDF7FA;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /* justify-content: space-around; */
    align-items: center;
}
.container-1{
       display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
}
#text {
    font-size: 12px;
}

h3 {
    font-size: 19px;
    font-weight: 790;
}
.content-4{
gap: 10px;
}
. date-left, 
. date-right{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    padding: 10px 0;
    font-size: 14px;
}
.headers {
    margin-right: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -25px;
}

.picture {
    display: flex;
    gap: 10px;
    width: 700px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey-color);
}

figure img {
    border-radius: 5px;
    height: 150px;
    width: 200px;
}

.button-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    border: none;
    background-color: #142850;
    border-radius: 22px;
    color: #8ab0c0;
    padding: 3px 9px;
}

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.icon {
    justify-content: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
        nav .menu-desktop {
            display: none;
        }
    
        nav #menu-mobile {
            display: block;
        }


    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .main-2,
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }
    .container-1,
    .main,
    .picture{
        display: flex;
            flex-direction: column;

    }
    .picture{
        width: 100%;
    }
    .content-2{
        width: 60px;
        height: 60px;
        order: 1;
    }
.content-1{
    order: 2;
}
}